.colorV1 { color: #E3E834;}
.colorI1 { color: #B7F935;}
.colorS{ color: #57FB5E;}
.colorC1 { color: #34FB96;}
.colorO { color: #34FBDE;}
.colorV2 { color: #35FBFA;}
.colorI2 { color: #35F6FB;}
.colorC2 {color: #35EAFB;}
.colorH {color: #35DEFA;}
.back-colorV1  { background-color: #E3E834;}
.back-colorI1  { background-color: #B7F935;}
.back-colorS  { background-color: #57FB5E;}
.back-colorC1  { background-color: #34FB96;}
.back-colorO { background-color: #34FBDE;}
.back-colorV2  { background-color: #35FBFA;}
.back-colorI2  { background-color: #35F6FB;}
.back-colorC2 { background-color: #35EAFB;}
.back-colorH { background-color: #35DEFA;}

/* Edit all the highlighted text at once */
.hover-back-colorV1,
.hover-back-colorI1,
.hover-back-colorS,
.hover-back-colorC1,
.hover-back-colorO,
.hover-back-colorV2,
.hover-back-colorI2,
.hover-back-colorC2,
.hover-back-colorH

{ 
    background-color: #FFFFFF;
    font-weight: 600;
    border-radius: 5px;  
    padding-left: 3px; 
    padding-right: 3px; 
    padding-bottom: 2px;
    font-weight: 800;
    font-size: 20px;
}

/* The colors for the highlight */
.hover-back-colorV1  { color: #E3E834;}
.hover-back-colorI2  { color: #B7F935;}
.hover-back-colorS  { color: #57FB5E;}
.hover-back-colorC1  { color: #34FB96;}
.hover-back-colorO { color: #34FBDE;}
.hover-back-colorV2  { color: #35FBFA;}
.hover-back-colorI2  { color: #35F6FB;}
.hover-back-colorC2 { color: #35EAFB;}
.hover-back-colorH { color: #35DEFA;}


/* Edit all the highlighted text (HOVER) at once */
.hover-back-colorV1:hover,
.hover-back-colorI1:hover,
.hover-back-colorS:hover,
.hover-back-colorC1:hover,
.hover-back-colorO:hover,
.hover-back-colorV2:hover,
.hover-back-colorI2:hover,
.hover-back-colorC2:hover,
.hover-back-colorH:hover

{ 
    border-radius: 5px; 
    color:#FFFFFF; 
    padding-left: 3px; 
    padding-right: 3px; 
    padding-bottom: 2px;
    font-weight: 800;
    font-size: 20px;
}

/* The colors for the highlight */
.hover-back-colorV1:hover  { background-color: #E3E834;}
.hover-back-colorI1:hover  { background-color: #B7F935;}
.hover-back-colorS:hover  { background-color: #57FB5E;}
.hover-back-colorC1:hover  { background-color: #34FB96;}
.hover-back-colorO:hover { background-color: #34FBDE;}
.hover-back-colorV2:hover  { background-color: #35FBFA;}
.hover-back-colorI2:hover  { background-color: #35F6FB;}
.hover-back-colorC2:hover { background-color: #35EAFB;}
.hover-back-colorH:hover { background-color: #35DEFA;}

a.clean{
    /* Clean up the default CSS Styling for links */
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}